/* visit fonts.google.com for text fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
body
{
    
    background-image: url(img/sol.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
}

@keyframes piscar {
    0% {
        background-image: url('img/chuva5.gif');
      }
      20% {
        background-image: url('img/chuva.gif');
      }
      30% {
        background-image: url('img/natureza12.gif');
      }
      50% {
        background-image: url('img/chuva2.gif');
      }
      100% {
        background-image: url('img/chuva5.gif');
      }
  }

  body {
    animation: piscar 60s infinite;
  }


/* animação chuva */

.container{
    position: absolute;
    margin-top: 30px;
    top: -20px;
    width:100%;
    height: 400px;
    border-bottom: blue;
}

/*
.nuvem{
    position: relative;
    top: 50px;
    width: 100%;
    height: 20%;
    background: #224a96;
    border-radius: 100px;
    z-index: 10;
}

.nuvem::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 100px;
    background: #224a96;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #224a96;
}
*/
.chuva {
    display: flex;
    justify-content: center;
}


.chuva span{
    position: relative;
    bottom: 10px;
    width: 0px;
    height: 0px;
    margin: 0 1.7px;
    border-radius: 50%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 19px solid rgb(0, 119, 255);
    animation: animarChuva calc(25s / var(--i)) linear infinite;
}

@keyframes animarChuva {
    0% {
        transform: translateY(0) scale(1);
    }
    70% {
        transform: translateY(80vh) scale(1);
    }
    100% {
        transform: translateY(90vh) scale(1);
    }
}

#container
{
    z-index: 9999;
    border-radius: 30px;
    width: 400px;
    max-height: 630px;
    border: 3px solid 	#000000;
    overflow: hidden;
    background-color: 	#015f8b;
    color: #fff;
}
.header
{
    background-color: #5aa8a0;
    height: 100px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #1b2135ff;
    border-bottom: 1px solid #ffffff20;
}
ol
{
    padding: 10px 15px 10px 40px;
}
li
{
    font-size: 17px;
    /*font-weight: bold;*/  
    margin: 5px 0;
}
#start-quiz-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}
button
{
    background-color: #0fa2a5;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 15px 20px;
}
button:hover
{
    background-color: #008e91;
}

.content
{
    padding: 10px 30px;
    max-height: 400px;
    overflow: auto;
}
.question
{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 3px;
}

.option,.result-option
{
    min-height: 40px;
    border-radius: 10px;
    background-color: #273557;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 13px;
    cursor: pointer;
    color: #ccdae7;
    margin: 8px 0;
    font-weight: 500;
    position: relative;
}
.option span,.result-option span
{   
    position: absolute;
    right: 15px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    background-color: #e9be0e;
    color: #1e293b;
    padding: 5px;
}


.option:hover
{
    background-color: #FF8C00;
    color: #1e293b;
}

.footer
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}
.correct
{
    background-color: #1bd027;
    color: #1e293b;
}
.correct span
{
    background: #1e293b;
    color: #1bd027;
}

.wrong
{
    background-color: #e73030;
    color: #1e293b;
}

.wrong span
{
    background: #1e293b;
    color: #e73030;
}



#timer
{
    padding: 15px 5px; 
    /* background-color: #ccdae7; */
    display: grid;
    place-items: center;
    border-radius: 5px;
    color: #0f172a;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    color: #ffffff;
    font-weight: bold;
}
.time-over
{
    color: #e73030 !important;
}


/* result page */

#trophy
{
    font-size: 100px;
    text-align: center;
    margin: 40px 0;
}
#score
{
    text-align: center;
    font-size: 14px;
}
#score b
{
    color: #008e91;
    font-size: 28px;
}
.result-score
{
    margin-top: 5px;
}
#result-footer
{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
#result-footer button
{
    margin: 0 10px;
}

#detailed-result
{
    background: transparent;
    color: #ffffff;
    border: 1px solid #3d4f80;
}
#detailed-result:hover
{
    background: #008e91;
    color: #fff;
}